<html >
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>Thank you</title>

	<!-- styles -->
	<!-- libraries -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	
	<style>
#headerRight {
	float:right;
	background:url('') top right no-repeat;
	height:76px;
	width:335px;
}
#headerLeft { 
	float:left; 
	background:url('') top left no-repeat;
	height:76px;
	width:226px;
}
body {
	background:#cad6da url('') top center repeat-x;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}
	</style>
    
</head>
<body>
	<div id="headerRight"></div>
	<div id="headerLeft"></div>
	<div style="clear:both;"></div>
	Thank you for uploading files.
</body>
</html>